$fontFamily: 'icons';

$icons: (
  chevron-right: "\e901",
  code: "\e900",
  git: "\e904",
  github: "\e905",
  globe: "🌐",
  link: "🔗",
  moon: "🌙",
  myparcel: "\e906",
  sun: "🌞",
  support: "\e902",
);

@font-face {
  font-family: $fontFamily;
  src: url('/fonts/icons/#{$fontFamily}.ttf?rux0ea') format('truetype'),
  url('/fonts/icons/#{$fontFamily}.woff?rux0ea') format('woff'),
  url('/fonts/icons/#{$fontFamily}.svg?rux0ea##{$fontFamily}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  @apply not-italic font-normal normal-case leading-none antialiased relative select-none;
  font-family: '#{$fontFamily}' !important;
  speak: never;

  @each $icon, $content in $icons {
    &.icon-#{$icon}:before {
      @apply m-auto;
      content: $content;
    }
  }

  &.icon-chevron-up:before,
  &.icon-chevron-down:before,
  &.icon-chevron-left:before {
    content: map-get($icons, 'chevron-right');
  }

  &.icon-chevron-up {
    @apply transform rotate-90;
  }

  &.icon-chevron-down {
    @apply transform -rotate-90;
  }

  &.icon-chevron-left {
    @apply transform rotate-180;
  }

  &.icon-myparcel {
    @apply text-monstera-500;
  }
}
