<template>
  <div>
    {{ name }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: '{{ pascalCase name }}',
  setup: (props, ctx) => {
    return {};
  },
});
</script>
