@use "mixins";

%space-base {
  @apply grid grid-flow-col items-center auto-cols-max;
}

%space {
  @extend %space-base;
  @apply gap-3
}

%space-sm {
  @extend %space-base;
  @apply gap-1;
}

.DocSearch-Button {
  @extend %space;
  @apply flex items-center py-2 px-3 select-none rounded-full border-2;
}

.DocSearch-Button-Keys {
  @extend %space-base;
  @apply gap-1;
}

.DocSearch-Button-Container {
  @extend %space;
  @apply z-50;
}

.DocSearch-Button-Key {
  @apply rounded-sm w-6 text-zinc-400 text-sm dark:text-zinc-500 border;
}

.DocSearch--active {
  @apply overflow-hidden;
}

.DocSearch-Container {
  @apply h-full fixed z-40 inset-0 h-full w-full bg-black bg-opacity-70 py-6;
}

.DocSearch-Link {
  @apply appearance-none border-0;
  background-image: none;
}

.DocSearch-Modal {
  @apply cursor-auto max-w-4xl w-full mx-auto shadow bg-white dark:bg-zinc-900 max-h-fit rounded-lg flex flex-col max-h-full;

  ul {
    @apply m-0 p-0;
  }
}

.DocSearch-SearchBar {
  @apply flex mb-3 px-5 pt-5;
}

.DocSearch-Form {
  @apply rounded-full flex items-center p-4 relative shadow-none w-full border-2;
}

.DocSearch-Input {
  @apply appearance-none bg-transparent border-0 flex-grow h-full py-0 pr-0 pl-2 outline-none w-9/12;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  @apply hidden;
}

.DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  @apply m-0 p-0;
}

.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  @apply flex items-center justify-center;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
  @apply hidden;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
  @apply flex items-center justify-center;
}

.DocSearch-Reset {
  @apply hidden;
  outline: none;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  @apply h-6 w-6;
}

.DocSearch-Cancel {
  @apply appearance-none border-0 inline-block flex-none font-medium text-base ml-4 overflow-hidden p-0 select-none whitespace-nowrap;
  background-image: none;
  outline: none;
}

.DocSearch-Dropdown {
  @apply overflow-y-scroll flex-shrink;

  &::-webkit-scrollbar {
    @apply w-3;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply border-solid border-2 rounded-lg bg-zinc-400;
  }
}

.DocSearch-Label {
  @apply text-xs leading-6;
}

.DocSearch-Help,
.DocSearch-Label {
  //color: rgba(150, 159, 175, 1);
}

.DocSearch-Help {
  @apply text-sm m-0 select-none;
}

.DocSearch-Logo {
  a {
    @apply flex;
  }

  svg {
    @apply ml-2;
  }
}

.DocSearch-Hits:last-of-type {
  @apply mb-3;
}

.DocSearch-Hit {
  @apply flex relative transition transition-colors duration-100;

  mark {
    @apply underline bg-amber-400 py-1 rounded-sm;
  }

  &--deleting,
  &--favoriting {
    @apply transition-all duration-100;
  }

  &--deleting {
    @apply opacity-0;
  }

  &--favoriting {
    @apply scale-0 transform origin-top;
  }

  a {
    @apply px-4 w-full;
  }
}

.DocSearch-Hit-source {
  @apply font-semibold leading-8 px-4 py-2 border-b-2;
}

.DocSearch-Hit-Tree {
  @apply h-16 opacity-50 w-6 text-zinc-500;
}

.DocSearch-Hit-Container {
  @extend %space;
  @apply h-16;
}

// Icons
.DocSearch-Hit-Tree,
.DocSearch-Hit-action,
.DocSearch-Hit-icon,
.DocSearch-Screen-Icon,
.DocSearch-Search-Icon {
  @apply antialiased stroke-[1.5];
}

// Buttons to the right of results.
.DocSearch-Hit-action {
  @apply flex;

  & + & {
    @apply -ml-1;
  }
}

.Docsearch-Hit {
  &:hover a,
  &:focus a,
  &[aria-selected=true] a {
    @apply bg-monstera-100 dark:bg-goldfish-800 text-goldfish-500 dark:text-goldfish-400;
  }

}

.DocSearch-Hit-action-button {
  @apply rounded-full bg-zinc-50 dark:bg-zinc-600 p-0.5;

  svg {
    @apply w-full h-full;
  }

  &,
  path {
    @apply transition-colors duration-100 dark:stroke-zinc-400;
  }

  &:focus,
  &:hover {
    @apply bg-goldfish-500;

    path {
      @apply stroke-white;
    }
  }
}

.DocSearch-Hit-content-wrapper {
  @apply flex relative flex-col-reverse;
}

.DocSearch-Hit-path {
  @apply text-sm my-auto text-zinc-500 dark:text-zinc-400;
}

.DocSearch-ErrorScreen,
.DocSearch-NoResults,
.DocSearch-StartScreen {
  @apply py-8 text-center flex flex-col max-w-sm mx-auto;
}

.DocSearch-Screen-Icon {
  @apply pb-3 text-zinc-400 mx-auto;
}

.DocSearch-NoResults-Prefill-List {
  @apply py-6 text-left;

  ul {
    @apply inline-block px-0 pb-0 pt-2;
  }

  li {
    @apply list-inside list-disc;
  }
}

.DocSearch-Prefill {
  @apply appearance-none border-0 inline-block font-bold text-base rounded-lg;
}

.DocSearch-Footer {
  @apply p-4 border-t-2 flex-row-reverse flex justify-between flex-wrap;
}

.DocSearch-Commands {
  @apply flex text-zinc-700;
}

.DocSearch-Commands li {
  @apply flex mr-2 items-center;
}

.DocSearch-Commands-Key {
  @apply
  bg-white
  dark:bg-zinc-800
  border-2
  flex
  h-4
  items-center
  justify-center
  mr-2
  pb-px
  rounded-sm
  shadow-none
  w-5
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  to {
    @apply opacity-100;
  }
}

.DocSearch-Prefill,
.DocSearch-Prefill {
  @apply outline-none underline;
}

.DocSearch-Hit-Select-Icon {
  @apply hidden;
}
