%border {
  @apply border border-zinc-500;
}

%space-base {
  @apply grid grid-flow-col items-center auto-cols-max;
}

%space {
  @extend %space-base;
  @apply gap-3
}

%space-sm {
  @extend %space-base;
  @apply gap-1;
}

.DocSearch-Button {
  @extend %border;
  @extend %space;
  @apply flex items-center py-2 px-3 select-none rounded-full;
}

.DocSearch-Button-Keys {
  @extend %space-base;
  @apply gap-1;
}

.DocSearch-Button-Container {
  @extend %space;
}

.DocSearch-Button-Key {
  @apply rounded border w-6 text-zinc-500 bg-zinc-800 border-zinc-700 text-sm;
}

.DocSearch--active {
  @apply overflow-hidden;
}

.DocSearch-Container {
  @apply h-full absolute fixed z-40 inset-0 h-full w-full bg-black bg-opacity-70;

  &, * {
    @apply box-border;
  }

  a {
    @apply no-underline;
  }
}

.DocSearch-Link {
  @apply appearance-none border-0  m-0 p-0;
  background-image: none;
}

.DocSearch-Modal {
  @apply cursor-auto rounded-none m-0 max-w-4xl shadow-none w-full mx-auto shadow bg-white dark:bg-zinc-900 mt-10 rounded-lg;

  ul {
    @apply m-0 p-0 list-none;
  }
}

.DocSearch-SearchBar {
  @apply flex mb-3 px-5 pt-5;
}

.DocSearch-Form {
  @apply rounded-full flex items-center h-16 m-0 py-0 px-4 relative shadow-none w-full border dark:border-zinc-700;
}

.DocSearch-Input {
  @apply appearance-none bg-transparent border-0 flex-grow h-full text-xl py-0 pr-0 pl-2 outline-none w-9/12;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  @apply hidden;
}

.DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  @apply m-0 p-0;
}

.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  @apply flex items-center justify-center;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
  @apply hidden;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
  @apply flex items-center justify-center;
}

.DocSearch-Reset {
  @apply hidden;
  outline: none;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  @apply h-6 w-6;
}

.DocSearch-Cancel {
  @apply appearance-none border-0  inline-block flex-none font-medium text-base ml-4 overflow-hidden p-0 select-none whitespace-nowrap;
  background-image: none;
  outline: none;
}

.DocSearch-Dropdown {
  @apply h-full px-5 pb-5;

  &::-webkit-scrollbar {
    @apply w-3;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply border-solid border-2;
    background-color: rgba(150, 159, 175, 1);
    border-color: rgba(245, 246, 247, 1);
    border-radius: 20px;
  }
}

.DocSearch-Label {
  @apply text-xs leading-6;
}

.DocSearch-Help,
.DocSearch-Label {
  color: rgba(150, 159, 175, 1);
}

.DocSearch-Help {
  @apply text-sm m-0 select-none;
}

.DocSearch-Logo {
  a {
    @apply flex;
  }

  svg {
    @apply ml-2;
  }
}

.DocSearch-Hits:last-of-type {
  @apply mb-3;
}

.DocSearch-HitsFooter {
  @apply flex justify-center text-sm mb-4 p-4 text-zinc-500;
  color: rgba(150, 159, 175, 1);

  a {
    @apply border-solid border-b;
  }
}

.DocSearch-Hit {
  @apply rounded-lg flex pb-1 relative transition transition-colors duration-100;

  &:hover a,
  &:focus a,
  &[aria-selected=true] a {
    @apply bg-zinc-200 outline-zinc-300 dark:bg-zinc-800 outline-zinc-700;
  }

  mark {
    @apply underline bg-amber-400 py-1 rounded;
  }

  &--deleting {
    @apply opacity-0 transition-all duration-200;
  }

  &--favoriting {
    @apply scale-0 transform origin-top delay-200 transition-all duration-200;
  }

  a {
    @apply bg-zinc-50 dark:bg-zinc-700 rounded block pl-4 shadow-none w-full;
  }
}

.DocSearch-Hit-source {
  @apply font-semibold text-sm leading-8 my-0 -mx-1 px-1 pb-0 pt-2 sticky top-0 z-10;
}

.DocSearch-Hit-Tree {
  @apply h-16 opacity-50 w-6 text-zinc-500;
}

.DocSearch-Hit-Container {
  @extend %space;
  @apply h-16;
}

// Icons
.DocSearch-Hit-Tree,
.DocSearch-Hit-action,
.DocSearch-Hit-icon,
.DocSearch-Screen-Icon,
.DocSearch-Search-Icon {
  @apply text-zinc-500 antialiased stroke-[1.5];
}

// Buttons to the right of results.
.DocSearch-Hit-action {
  @apply flex;

  & + & {
    @apply -ml-1;
  }
}

.DocSearch-Hit-action-button {
  @apply rounded-full bg-zinc-50 dark:bg-zinc-600 p-0.5;

  svg {
    @apply w-full h-full;
  }

  &,
  path {
    @apply transition-colors duration-100 dark:stroke-zinc-400;
  }

  &:focus,
  &:hover {
    @apply bg-goldfish-500;

    path {
      @apply stroke-white;
    }
  }
}

.DocSearch-Hit-content-wrapper {
  @apply flex relative;
}

.DocSearch-Hit-path {
  @apply text-sm ml-2 my-auto text-zinc-500;
}

.DocSearch-ErrorScreen,
.DocSearch-NoResults,
.DocSearch-StartScreen {
  @apply py-8 text-center flex flex-col max-w-sm mx-auto;
}

.DocSearch-Screen-Icon {
  @apply pb-3 text-zinc-400 mx-auto;
}

.DocSearch-NoResults-Prefill-List {
  @apply py-6 text-left;

  ul {
    @apply inline-block px-0 pb-0 pt-2;
  }

  li {
    @apply list-inside list-disc;
  }
}

.DocSearch-Prefill {
  @apply appearance-none border-0 inline-block font-bold text-base p-0 rounded-lg;
}

.DocSearch-Footer {
  @apply absolute bottom-0;
}

.DocSearch-Commands {
  @apply flex m-0 p-0 text-zinc-700;
}

.DocSearch-Commands li {
  @apply flex items-center;
}

.DocSearch-Commands li:not, :last-of-type {
  @apply mr-3;
}

.DocSearch-Commands-Key {
  @apply rounded flex items-center justify-center h-4 mr-2 pb-px shadow-none w-5 border rounded bg-white dark:bg-zinc-800;
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  to {
    @apply opacity-100;
  }
}

.DocSearch-Prefill,
.DocSearch-Prefill {
  @apply outline-none underline;
}

