:root {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: #1C1E21;
  --docsearch-spacing: 1rem;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: #969FAF;
  --docsearch-container-background: rgba(101, 108, 133, 0.8);
  --docsearch-logo-color: var(--docsearch-primary-color);

  /* modal */
  --docsearch-modal-width: 15rem;
  --docsearch-modal-height: 40rem;
  --docsearch-modal-background: #F5F6F7;
  --docsearch-modal-shadow: none;

  /* searchbox */
  --docsearch-searchbox-height: 4rem;
  --docsearch-searchbox-background: #EBEDF0;
  --docsearch-searchbox-focus-background: #FFF;
  --docsearch-searchbox-shadow: none;

  /* hit */
  --docsearch-hit-height: 4rem;
  --docsearch-hit-color: #444950;
  --docsearch-hit-active-color: #FFF;
  --docsearch-hit-background: #FFF;
  --docsearch-hit-shadow: none;

  /* key */
  --docsearch-key-gradient: none;
  --docsearch-key-shadow: none;

  /* footer */
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #FFF;
  --docsearch-footer-shadow: none;
}

html.dark .DocSearch {
  --docsearch-logo-color: var(--c-text);
  --docsearch-modal-shadow: none;
  --docsearch-key-shadow: none;
  --docsearch-key-gradient: var(--c-tip-bg);
  --docsearch-footer-shadow: none;
}
