// Taken from @vuepress/theme-default
.dropdown-enter-from,
.dropdown-leave-to {
  height: 0 !important;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: height .1s ease-out;
  overflow: hidden;
}
